.dish {
    height: auto;
    width: 500px;
}

.heading {
    font-size: 50px;
    font-weight: 500;
}

.heading.smaller {
    font-size: 35px;
}

.heading.bigger,
.heading.smaller {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chili {
    color: red;
}

.gyoza {
    color: yellow;
}

.cake {
    color: orangered;
}