.text {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: burlywood;
    background-color: black;
    text-align: center;
}

.chili {
    background-color: red;
}

.gyoza {
    background-color: yellow;
}

.cake {
    background-color: orangered;
}

.first-project {
    color: mediumseagreen;
}