.text {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    width: 400px;
    color: goldenrod;
    background-color: wheat;
    text-align: center;
    margin: 10px auto;
    border: 2px groove black;
    padding: 10px;
}

.card {
    width: 200px;
    background-color: wheat;
    margin: 10px auto;
    border: 1px outset black;
    padding: 5px;
}

.chili {
    background-color: red;
}

.gyoza {
    background-color: yellow;
}

.cake {
    background-color: orangered;
}
