*,
*::before,
*::after {
    box-sizing: border-box;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    width: 400px;
    color: goldenrod;
    background-color: wheat;
    text-align: center;
    margin: 10px auto;
    border: 2px groove black;
    padding: 10px;
}

.card {
    width: 200px;
    background-color: wheat;
    margin: 10px auto;
    border: 1px outset black;
    padding: 5px 35px 5px 5px;
}

.chili {
    color: red;
    margin: 2px auto;
    border: 0.5px solid black;
    padding: 5px 2px;
    text-align: center;
}

.gyoza {
    color: yellow;
    margin: 2px auto;
    border: 0.5px solid black;
    padding: 5px 2px;
    text-align: center;
}

.cake {
    color: orangered;
    margin: 2px auto;
    border: 0.5px solid black;
    padding: 5px 2px;
    text-align: center;
}
